* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after {
@extend %clearfix;
}


body {
  background: #e6e514; /* Old browsers */
  padding:15em 0;
  height:100%;
background-image: url('/resources/img/cover-01.svg'), radial-gradient( circle at bottom left, $yellow, $red) ;
background-repeat:repeat, no-repeat;
  background-position:center, center center;
  background-size:200%, 100%;
/*  background:url('/resources/img/cover.jpg') no-repeat;
  background-position:center top;
  background-size:cover;
*/
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

h3 {
  color:white;
  font-weight: 400;
  margin-top: 1em;
  @include opacity(.8);
  font-size: 30px;
  text-transform: uppercase;
  padding:1em 0;

}

/* MAIN */

section {
  padding:2em;
    
}

.wrap {
  max-width: 940px;
  margin:auto;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}

p, h1, h2, h3 {
  text-align: center;
}

/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}

@import url(http://fonts.googleapis.com/css?family=Varela+Round);

html {
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  padding: 2rem;
}

h1 {
  font-size: 35rem;
  font-weight: 700;
  color:white;
  @include opacity(.4);
}


.text{
    mix-blend-mode:overlay;
    @include opacity(.7);
  }



h2:not(:first-child) {
  margin-top: 50px; 
}
.screencap {
  width: 320px;
}

nav {
  padding:3em 0;
}
/* Effect 2: 3D rolling links, idea from http://hakim.se/thoughts/rolling-links */
.cl-effect-2 a {
  line-height: 60px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  margin-right:1em;
}

.cl-effect-2 a span {
  position: relative;
  display: inline-block;
  padding: 0 30px;
  background: $red;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  border-radius:5px;
}

.csstransforms3d .cl-effect-2 a span::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #591b07;
  content: attr(data-hover);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  border-radius:5px;
}

.cl-effect-2 a:hover span,
.cl-effect-2 a:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-22px);
}

.csstransforms3d .cl-effect-2 a:hover span::before,
.csstransforms3d .cl-effect-2 a:focus span::before {
  background: $darkred;  
}

a:hover {
  color:white;
}

