// COLOR PALETTE
$primary: #033063;
$secondary: #142E4A;
$hover: #505050;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: white;
$yellow: #ffd700;
$red: #f15e22;
$darkred:#b5461f;
$brightyellow:#fff02a;

// FONT STACKS
$heading: 'Open Sans', sans-serif;
$body: 'Open Sans', sans-serif;