@import url(http://fonts.googleapis.com/css?family=Varela+Round);
/* line 26, ../sass/_mixins.scss */
.cf:before,
.cf:after {
  *zoom: 1;
}
/* line 28, ../sass/_mixins.scss */
.cf:before:before,
.cf:after:after {
  content: " ";
  display: table;
}
/* line 32, ../sass/_mixins.scss */
.cf:after:after {
  clear: both;
}

/* Fluid Grid
-----------------
*/
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../sass/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../sass/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../sass/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../sass/_reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
/* line 51, ../sass/_reset.scss */
a {
  color: #00e;
}

/* line 52, ../sass/_reset.scss */
a:visited {
  color: #551a8b;
}

/* line 53, ../sass/_reset.scss */
a:hover {
  color: #06e;
}

/* line 54, ../sass/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 57, ../sass/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 64, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 66, ../sass/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 68, ../sass/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 70, ../sass/_reset.scss */
dfn {
  font-style: italic;
}

/* line 72, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 74, ../sass/_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 76, ../sass/_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 79, ../sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 82, ../sass/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 84, ../sass/_reset.scss */
q {
  quotes: none;
}

/* line 85, ../sass/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 87, ../sass/_reset.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 90, ../sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 91, ../sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 92, ../sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 99, ../sass/_reset.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 100, ../sass/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 101, ../sass/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 113, ../sass/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 119, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 126, ../sass/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 133, ../sass/_reset.scss */
form {
  margin: 0;
}

/* line 134, ../sass/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 137, ../sass/_reset.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 144, ../sass/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 152, ../sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 158, ../sass/_reset.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 166, ../sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 172, ../sass/_reset.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 178, ../sass/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 179, ../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 180, ../sass/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 186, ../sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 193, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 197, ../sass/_reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 204, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 205, ../sass/_reset.scss */
td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 213, ../sass/_reset.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 214, ../sass/_reset.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 217, ../sass/_reset.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 220, ../sass/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 223, ../sass/_reset.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 226, ../sass/_reset.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 229, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 230, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 231, ../sass/_reset.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 239, ../sass/_reset.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 240, ../sass/_reset.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 241, ../sass/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 242, ../sass/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 243, ../sass/_reset.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 244, ../sass/_reset.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 245, ../sass/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 246, ../sass/_reset.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 247, ../sass/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 249, ../sass/_reset.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 250, ../sass/_reset.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 20, ../sass/_grid.scss */
body {
  width: 100%;
  float: left;
}

/* line 1, ../sass/_typography.scss */
body {
  font: 100%/1.5 "Open Sans", sans-serif;
  color: #011f40;
}

/* HEADINGS */
/* line 8, ../sass/_typography.scss */
h1, h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif;
  color: #033063;
}

/* line 13, ../sass/_typography.scss */
h1 {
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  color: #011f40;
}

/* PARAGRAPH */
/* line 25, ../sass/_typography.scss */
p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #033063;
}

/* line 33, ../sass/_typography.scss */
a {
  color: white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}
/* line 37, ../sass/_typography.scss */
a:hover {
  color: #505050;
  text-decoration: none;
}

/* LISTS */
/* line 44, ../sass/_typography.scss */
ul {
  padding: 0;
  list-style: none;
}

/* line 1, ../sass/_navigation.scss */
.mainnav {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 3, ../sass/_navigation.scss */
.mainnav ul {
  float: right;
}
/* line 5, ../sass/_navigation.scss */
.mainnav ul li {
  float: left;
}
/* line 7, ../sass/_navigation.scss */
.mainnav ul li a {
  padding: 1em;
}

/* Animations */
/* line 3, ../sass/_animations.scss */
.left-fast {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: left-fast;
  -moz-animation-name: left-fast;
  animation-name: left-fast;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 8, ../sass/_animations.scss */
.right-fast {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: right-fast;
  -moz-animation-name: right-fast;
  animation-name: right-fast;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 12, ../sass/_animations.scss */
.roll-in-left {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: roll-in-left;
  -moz-animation-name: roll-in-left;
  animation-name: roll-in-left;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 16, ../sass/_animations.scss */
.up {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: up;
  -moz-animation-name: up;
  animation-name: up;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 20, ../sass/_animations.scss */
.down {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: down;
  -moz-animation-name: down;
  animation-name: down;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 24, ../sass/_animations.scss */
.fade-in {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: fade-in;
  -moz-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 28, ../sass/_animations.scss */
.delay {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* line 32, ../sass/_animations.scss */
.delay2 {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

/* KEYFRAMES */
@-webkit-keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-moz-keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-o-keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-webkit-keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-moz-keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-o-keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-webkit-keyframes roll-in-left {
  /* line 53, ../sass/_animations.scss */
  0% {
    opacity: 0;
    margin-left: -500px;
    -webkit-transform: rotateX(550deg);
  }

  /* line 54, ../sass/_animations.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@-moz-keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@-o-keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@-webkit-keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@-moz-keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@-o-keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@-webkit-keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@-moz-keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@-o-keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

/* SENCHA ANIMATIONS */
/* Contact Form */
/* line 2, ../sass/_forms.scss */
.main-form {
  position: relative;
}

/* line 7, ../sass/_forms.scss */
.main-form:before,
.main-form:after {
  content: " ";
  display: table;
}

/* line 11, ../sass/_forms.scss */
.main-form:after {
  clear: both;
}

/* line 15, ../sass/_forms.scss */
.main-form label {
  display: block;
  padding: 10px 5px 5px 2px;
  font-size: 1.1em;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  color: #033063;
}

/* line 27, ../sass/_forms.scss */
.main-form input,
.main-form textarea,
.main-form select {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 18px;
  padding: 2px 10px;
  color: #033063;
  display: block;
  width: 100%;
  background: #ebebeb;
}

/* line 39, ../sass/_forms.scss */
.main-form input,
.main-form textarea {
  border: 0px;
  border-radius: 0 !important;
  padding: 1em;
  box-shadow: none;
}

/* line 46, ../sass/_forms.scss */
.main-form textarea {
  min-height: 200px;
}

/* line 53, ../sass/_forms.scss */
.main-form input:focus,
.main-form textarea:focus,
.main-form label:active + input,
.main-form label:active + textarea {
  outline: none;
  border: 1px solid #033063;
}

/* line 58, ../sass/_forms.scss */
.main-form select:focus {
  outline: none;
}

/* line 62, ../sass/_forms.scss */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #10689a;
  font-style: italic;
}

/* line 67, ../sass/_forms.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #10689a;
  font-style: italic;
}

/* line 72, ../sass/_forms.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #10689a;
  font-style: italic;
}

/* line 77, ../sass/_forms.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #10689a;
  font-style: italic;
}

/* line 82, ../sass/_forms.scss */
.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

/* line 88, ../sass/_forms.scss */
.main-form input.cbp-mc-submit {
  background: #033063;
  border: none;
  color: white;
  width: auto;
  cursor: pointer;
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.1em;
  letter-spacing: 1px;
  margin: 1em 0;
  font-weight: 100;
}

/* line 103, ../sass/_forms.scss */
.main-form input.cbp-mc-submit:hover {
  background: #142e4a;
}

/* line 107, ../sass/_forms.scss */
#nospam, .nospam {
  display: none;
}

/* line 111, ../sass/_forms.scss */
.thumbs {
  width: 47%;
  margin: 1%;
  float: left;
}
/* line 115, ../sass/_forms.scss */
.thumbs img {
  width: 100%;
}

/* line 1, ../sass/_smallest.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/_smallest.scss */
body {
  background: #e6e514;
  /* Old browsers */
  padding: 15em 0;
  height: 100%;
  background-image: url("/resources/img/cover-01.svg"), radial-gradient(circle at bottom left, #ffd700, #f15e22);
  background-repeat: repeat, no-repeat;
  background-position: center, center center;
  background-size: 200%, 100%;
  /*  background:url('/resources/img/cover.jpg') no-repeat;
    background-position:center top;
    background-size:cover;
  */
}

/* RESPONSIVE IMAGES */
/* line 28, ../sass/_smallest.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 35, ../sass/_smallest.scss */
.lt-ie9 img {
  width: auto;
}

/* line 40, ../sass/_smallest.scss */
h3 {
  color: white;
  font-weight: 400;
  margin-top: 1em;
  opacity: 0.8;
  filter: alpha(opacity=0.8);
  font-size: 30px;
  text-transform: uppercase;
  padding: 1em 0;
}

/* MAIN */
/* line 53, ../sass/_smallest.scss */
section {
  padding: 2em;
}

/* line 58, ../sass/_smallest.scss */
.wrap {
  max-width: 940px;
  margin: auto;
}
/* line 61, ../sass/_smallest.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 66, ../sass/_smallest.scss */
.wrap:after {
  clear: both;
}

/* line 72, ../sass/_smallest.scss */
p, h1, h2, h3 {
  text-align: center;
}

/* FOOTER */
/* BUTTON */
/* line 88, ../sass/_smallest.scss */
html {
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  padding: 2rem;
}

/* line 94, ../sass/_smallest.scss */
h1 {
  font-size: 35rem;
  font-weight: 700;
  color: white;
  opacity: 0.4;
  filter: alpha(opacity=0.4);
}

/* line 102, ../sass/_smallest.scss */
.text {
  mix-blend-mode: overlay;
  opacity: 0.7;
  filter: alpha(opacity=0.7);
}

/* line 109, ../sass/_smallest.scss */
h2:not(:first-child) {
  margin-top: 50px;
}

/* line 112, ../sass/_smallest.scss */
.screencap {
  width: 320px;
}

/* line 116, ../sass/_smallest.scss */
nav {
  padding: 3em 0;
}

/* Effect 2: 3D rolling links, idea from http://hakim.se/thoughts/rolling-links */
/* line 120, ../sass/_smallest.scss */
.cl-effect-2 a {
  line-height: 60px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  margin-right: 1em;
}

/* line 128, ../sass/_smallest.scss */
.cl-effect-2 a span {
  position: relative;
  display: inline-block;
  padding: 0 30px;
  background: #f15e22;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  border-radius: 5px;
}

/* line 145, ../sass/_smallest.scss */
.csstransforms3d .cl-effect-2 a span::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #591b07;
  content: attr(data-hover);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  border-radius: 5px;
}

/* line 166, ../sass/_smallest.scss */
.cl-effect-2 a:hover span,
.cl-effect-2 a:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-22px);
}

/* line 173, ../sass/_smallest.scss */
.csstransforms3d .cl-effect-2 a:hover span::before,
.csstransforms3d .cl-effect-2 a:focus span::before {
  background: #b5461f;
}

/* line 177, ../sass/_smallest.scss */
a:hover {
  color: white;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* General button style (reset) */
/* line 13, ../sass/_buttons.scss */
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 20px 69px;
  display: inline-block;
  margin: 15px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 33, ../sass/_buttons.scss */
.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Pseudo elements for icons */
/* line 47, ../sass/_buttons.scss */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

/* line 59, ../sass/_buttons.scss */
.icon-envelope:before {
  content: "\e000";
}

/* line 63, ../sass/_buttons.scss */
.icon-cart:before {
  content: "\e007";
}

/* line 67, ../sass/_buttons.scss */
.icon-cart-2:before {
  content: "\e008";
}

/* line 71, ../sass/_buttons.scss */
.icon-heart:before {
  content: "\e009";
}

/* Filled heart */
/* line 77, ../sass/_buttons.scss */
.icon-heart:after,
.icon-heart-2:before {
  content: "\e00a";
}

/* line 81, ../sass/_buttons.scss */
.icon-star:before {
  content: "\e00b";
}

/* Filled star */
/* line 87, ../sass/_buttons.scss */
.icon-star:after,
.icon-star-2:before {
  content: "\e00c";
}

/* line 91, ../sass/_buttons.scss */
.icon-arrow-right:before {
  content: "\e00d";
}

/* line 95, ../sass/_buttons.scss */
.icon-arrow-left:before {
  content: "\e003";
}

/* line 99, ../sass/_buttons.scss */
.icon-truck:before {
  content: "\e00e";
}

/* line 103, ../sass/_buttons.scss */
.icon-remove:before {
  content: "\e00f";
}

/* line 107, ../sass/_buttons.scss */
.icon-cog:before {
  content: "\e010";
}

/* line 112, ../sass/_buttons.scss */
.icon-plus:before,
.icon-plus:after {
  content: "\e011";
}

/* line 116, ../sass/_buttons.scss */
.icon-minus:before {
  content: "\e012";
}

/* line 120, ../sass/_buttons.scss */
.bh-icon-smiley:before {
  content: "\e001";
}

/* line 124, ../sass/_buttons.scss */
.bh-icon-sad:before {
  content: "\e002";
}

/* line 128, ../sass/_buttons.scss */
.icon-file:before {
  content: "\e004";
}

/* line 132, ../sass/_buttons.scss */
.icon-remove-2:before {
  content: "\e005";
}

/* Button 1 */
/* line 137, ../sass/_buttons.scss */
.btn-1 {
  border: 3px solid #fff;
  color: #fff;
}

/* Button 1a */
/* line 144, ../sass/_buttons.scss */
.btn-1a:hover,
.btn-1a:active {
  color: #0e83cd;
  background: #fff;
}

/* Button 1b */
/* line 150, ../sass/_buttons.scss */
.btn-1b:after {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background: #fff;
}

/* line 159, ../sass/_buttons.scss */
.btn-1b:hover,
.btn-1b:active {
  color: #0e83cd;
}

/* line 164, ../sass/_buttons.scss */
.btn-1b:hover:after,
.btn-1b:active:after {
  height: 100%;
}

/* Button 1c */
/* line 169, ../sass/_buttons.scss */
.btn-1c:after {
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
}

/* line 178, ../sass/_buttons.scss */
.btn-1c:hover,
.btn-1c:active {
  color: #0e83cd;
}

/* line 183, ../sass/_buttons.scss */
.btn-1c:hover:after,
.btn-1c:active:after {
  width: 100%;
}

/* Button 1d */
/* line 188, ../sass/_buttons.scss */
.btn-1d {
  overflow: hidden;
}

/* line 192, ../sass/_buttons.scss */
.btn-1d:after {
  width: 0;
  height: 103%;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* line 206, ../sass/_buttons.scss */
.btn-1d:hover,
.btn-1d:active {
  color: #0e83cd;
}

/* line 210, ../sass/_buttons.scss */
.btn-1d:hover:after {
  width: 90%;
  opacity: 1;
}

/* line 215, ../sass/_buttons.scss */
.btn-1d:active:after {
  width: 101%;
  opacity: 1;
}

/* Button 1e */
/* line 221, ../sass/_buttons.scss */
.btn-1e {
  overflow: hidden;
}

/* line 225, ../sass/_buttons.scss */
.btn-1e:after {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

/* line 239, ../sass/_buttons.scss */
.btn-1e:hover,
.btn-1e:active {
  color: #0e83cd;
}

/* line 243, ../sass/_buttons.scss */
.btn-1e:hover:after {
  height: 260%;
  opacity: 1;
}

/* line 248, ../sass/_buttons.scss */
.btn-1e:active:after {
  height: 400%;
  opacity: 1;
}

/* Button 1f */
/* line 254, ../sass/_buttons.scss */
.btn-1f {
  overflow: hidden;
}

/* line 258, ../sass/_buttons.scss */
.btn-1f:after {
  width: 101%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* line 272, ../sass/_buttons.scss */
.btn-1f:hover,
.btn-1f:active {
  color: #0e83cd;
}

/* line 276, ../sass/_buttons.scss */
.btn-1f:hover:after {
  height: 75%;
  opacity: 1;
}

/* line 281, ../sass/_buttons.scss */
.btn-1f:active:after {
  height: 130%;
  opacity: 1;
}

/* Button 2 */
/* line 287, ../sass/_buttons.scss */
.btn-2 {
  background: #cb4e4e;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

/* Button 2a */
/* line 297, ../sass/_buttons.scss */
.btn-2a {
  border-radius: 0 0 5px 5px;
}

/* line 301, ../sass/_buttons.scss */
.btn-2a:hover {
  box-shadow: 0 4px #ab3c3c;
  top: 2px;
}

/* line 306, ../sass/_buttons.scss */
.btn-2a:active {
  box-shadow: 0 0 #ab3c3c;
  top: 6px;
}

/* Button 2b */
/* line 312, ../sass/_buttons.scss */
.btn-2b {
  border-radius: 0 0 5px 5px;
}

/* line 316, ../sass/_buttons.scss */
.btn-2b:hover {
  box-shadow: 0 8px #ab3c3c;
  top: -2px;
}

/* line 321, ../sass/_buttons.scss */
.btn-2b:active {
  box-shadow: 0 0 #ab3c3c;
  top: 6px;
}

/* Button 2c */
/* line 327, ../sass/_buttons.scss */
.btn-2c {
  border-radius: 5px;
}

/* line 331, ../sass/_buttons.scss */
.btn-2c:hover {
  box-shadow: 0 4px #ab3c3c;
  top: 2px;
}

/* line 336, ../sass/_buttons.scss */
.btn-2c:active {
  box-shadow: 0 0 #ab3c3c;
  top: 6px;
}

/* Button 2d */
/* line 342, ../sass/_buttons.scss */
.btn-2d {
  border-radius: 5px;
}

/* line 346, ../sass/_buttons.scss */
.btn-2d:hover {
  box-shadow: 0 8px #ab3c3c;
  top: -2px;
}

/* line 351, ../sass/_buttons.scss */
.btn-2d:active {
  box-shadow: 0 0 #ab3c3c;
  top: 6px;
}

/* Button 2e */
/* line 357, ../sass/_buttons.scss */
.btn-2e {
  border-radius: 5px;
  box-shadow: -6px 0 #ab3c3c;
}

/* line 362, ../sass/_buttons.scss */
.btn-2e:hover {
  box-shadow: -4px 0 #ab3c3c;
  left: -2px;
}

/* line 367, ../sass/_buttons.scss */
.btn-2e:active {
  box-shadow: 0 0 #ab3c3c;
  left: -6px;
}

/* Button 2f */
/* line 373, ../sass/_buttons.scss */
.btn-2f {
  border-radius: 5px;
  box-shadow: 6px 0 #ab3c3c;
}

/* line 378, ../sass/_buttons.scss */
.btn-2f:hover {
  box-shadow: 4px 0 #ab3c3c;
  left: 2px;
}

/* line 383, ../sass/_buttons.scss */
.btn-2f:active {
  box-shadow: 0 0 #ab3c3c;
  left: 6px;
}

/* Button 2g */
/* line 389, ../sass/_buttons.scss */
.btn-2g {
  border-radius: 40px;
}

/* line 393, ../sass/_buttons.scss */
.btn-2g:hover {
  box-shadow: 0 4px #ab3c3c;
  top: 2px;
}

/* line 398, ../sass/_buttons.scss */
.btn-2g:active {
  box-shadow: 0 0 #ab3c3c;
  top: 6px;
}

/* Button 2h */
/* line 404, ../sass/_buttons.scss */
.btn-2h {
  border-radius: 20px;
}

/* line 408, ../sass/_buttons.scss */
.btn-2h:hover {
  box-shadow: 0 4px #ab3c3c;
  top: 2px;
}

/* line 413, ../sass/_buttons.scss */
.btn-2h:active {
  box-shadow: 0 0 #ab3c3c;
  top: 6px;
}

/* Button 2i */
/* line 419, ../sass/_buttons.scss */
.btn-2i {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  padding: 0;
}

/* line 426, ../sass/_buttons.scss */
.btn-2i:hover {
  box-shadow: 0 4px #ab3c3c;
  top: 2px;
}

/* line 431, ../sass/_buttons.scss */
.btn-2i:active {
  box-shadow: 0 0 #ab3c3c;
  top: 6px;
}

/* Button 2j */
/* line 437, ../sass/_buttons.scss */
.btn-2j {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  padding: 0;
}

/* line 444, ../sass/_buttons.scss */
.btn-2j:hover {
  box-shadow: 0 8px #ab3c3c;
  top: -2px;
}

/* line 449, ../sass/_buttons.scss */
.btn-2j:active {
  box-shadow: 0 0 #ab3c3c;
  top: 6px;
}

/* Button 3 */
/* line 455, ../sass/_buttons.scss */
.btn-3 {
  background: #fcad26;
  color: #fff;
}

/* line 460, ../sass/_buttons.scss */
.btn-3:hover {
  background: #f29e0d;
}

/* line 464, ../sass/_buttons.scss */
.btn-3:active {
  background: #f58500;
  top: 2px;
}

/* line 469, ../sass/_buttons.scss */
.btn-3:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

/* Button 3a */
/* line 480, ../sass/_buttons.scss */
.btn-3a {
  padding: 25px 60px 25px 120px;
}

/* line 484, ../sass/_buttons.scss */
.btn-3a:before {
  background: rgba(0, 0, 0, 0.05);
}

/* Button 3b */
/* line 489, ../sass/_buttons.scss */
.btn-3b {
  padding: 25px 60px 25px 120px;
  border-radius: 10px;
}

/* line 494, ../sass/_buttons.scss */
.btn-3b:before {
  border-right: 2px solid rgba(255, 255, 255, 0.5);
}

/* Button 3c */
/* line 499, ../sass/_buttons.scss */
.btn-3c {
  padding: 80px 20px 20px 20px;
  border-radius: 10px;
  box-shadow: 0 3px #da9622;
}

/* line 505, ../sass/_buttons.scss */
.btn-3c:active {
  box-shadow: 0 3px #dc7801;
}

/* line 509, ../sass/_buttons.scss */
.btn-3c:before {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background: #fff;
  color: #f29e0d;
  border-radius: 10px 10px 0 0;
}

/* line 518, ../sass/_buttons.scss */
.btn-3c:active:before {
  color: #f58500;
}

/* Button 3d */
/* line 523, ../sass/_buttons.scss */
.btn-3d {
  padding: 25px 60px 25px 120px;
  border-radius: 10px;
}

/* line 528, ../sass/_buttons.scss */
.btn-3d:before {
  background: #fff;
  color: #fcad26;
  z-index: 2;
  border-radius: 10px 0 0 10px;
}

/* line 535, ../sass/_buttons.scss */
.btn-3d:after {
  width: 20px;
  height: 20px;
  background: #fff;
  z-index: 1;
  left: 55px;
  top: 50%;
  margin: -10px 0 0 -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 549, ../sass/_buttons.scss */
.btn-3d:active:before {
  color: #f58500;
}

/* line 553, ../sass/_buttons.scss */
.btn-3d:active {
  top: 0;
}

/* line 557, ../sass/_buttons.scss */
.btn-3d:active:after {
  left: 60px;
}

/* Button 3e */
/* line 562, ../sass/_buttons.scss */
.btn-3e {
  padding: 25px 120px 25px 60px;
  overflow: hidden;
}

/* line 567, ../sass/_buttons.scss */
.btn-3e:before {
  left: auto;
  right: 10px;
  z-index: 2;
}

/* line 573, ../sass/_buttons.scss */
.btn-3e:after {
  width: 30%;
  height: 200%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  right: 0;
  top: 0;
  margin: -5px 0 0 -5px;
  -webkit-transform-origin: 0 0;
  -webkit-transform: rotate(-20deg);
  -moz-transform-origin: 0 0;
  -moz-transform: rotate(-20deg);
  -ms-transform-origin: 0 0;
  -ms-transform: rotate(-20deg);
  transform-origin: 0 0;
  transform: rotate(-20deg);
}

/* line 591, ../sass/_buttons.scss */
.btn-3e:hover:after {
  width: 40%;
}

/* Button 4 */
/* line 596, ../sass/_buttons.scss */
.btn-4 {
  border-radius: 50px;
  border: 3px solid #fff;
  color: #fff;
  overflow: hidden;
}

/* line 603, ../sass/_buttons.scss */
.btn-4:active {
  border-color: #17954c;
  color: #17954c;
}

/* line 608, ../sass/_buttons.scss */
.btn-4:hover {
  background: #24b662;
}

/* line 612, ../sass/_buttons.scss */
.btn-4:before {
  position: absolute;
  height: 100%;
  font-size: 125%;
  line-height: 3.5;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 623, ../sass/_buttons.scss */
.btn-4:active:before {
  color: #17954c;
}

/* Button 4a */
/* line 628, ../sass/_buttons.scss */
.btn-4a:before {
  left: 130%;
  top: 0;
}

/* line 633, ../sass/_buttons.scss */
.btn-4a:hover:before {
  left: 80%;
}

/* Button 4b */
/* line 638, ../sass/_buttons.scss */
.btn-4b:before {
  left: -50%;
  top: 0;
}

/* line 643, ../sass/_buttons.scss */
.btn-4b:hover:before {
  left: 10%;
}

/* Button 4c */
/* line 648, ../sass/_buttons.scss */
.btn-4c:before {
  left: 70%;
  opacity: 0;
  top: 0;
}

/* line 654, ../sass/_buttons.scss */
.btn-4c:hover:before {
  left: 80%;
  opacity: 1;
}

/* Button 4d */
/* line 660, ../sass/_buttons.scss */
.btn-4d:before {
  left: 30%;
  opacity: 0;
  top: 0;
}

/* line 666, ../sass/_buttons.scss */
.btn-4d:hover:before {
  left: 10%;
  opacity: 1;
}

/* Button 5 */
/* line 672, ../sass/_buttons.scss */
.btn-5 {
  background: #f15e22;
  color: #fff;
  height: 70px;
  line-height: 28px !important;
  font-size: 16px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  font-family: "Open Sans", sans-serif;
}

/* line 685, ../sass/_buttons.scss */
.btn-5:active {
  background: #b5461f;
  top: 2px;
}

/* line 690, ../sass/_buttons.scss */
.btn-5 span {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-transition: all 0.3s;
  -moz-backface-visibility: hidden;
  transition: all 0.3s;
  backface-visibility: hidden;
}

/* line 702, ../sass/_buttons.scss */
.btn-5:before {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 2.5;
  font-size: 180%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 713, ../sass/_buttons.scss */
.btn-5:active:before {
  color: #703b87;
}

/* Button 5a */
/* line 718, ../sass/_buttons.scss */
.btn-5a:hover span {
  -webkit-transform: translateY(300%);
  -moz-transform: translateY(300%);
  -ms-transform: translateY(300%);
  transform: translateY(300%);
}

/* line 725, ../sass/_buttons.scss */
.btn-5a:before {
  left: 0;
  top: -100%;
}

/* line 730, ../sass/_buttons.scss */
.btn-5a:hover:before {
  top: 0;
}

/* Button 5b */
/* line 735, ../sass/_buttons.scss */
.btn-5b:hover span {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
}

/* line 742, ../sass/_buttons.scss */
.btn-5b:before {
  left: -100%;
  top: 0;
}

/* line 747, ../sass/_buttons.scss */
.btn-5b:hover:before {
  left: 0;
}

/* Button 6 */
/* line 752, ../sass/_buttons.scss */
.btn-6 {
  color: #fff;
  background: #226fbe;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

/* line 760, ../sass/_buttons.scss */
.btn-6:active {
  top: 2px;
}

/* Button 6a */
/* line 765, ../sass/_buttons.scss */
.btn-6a {
  border: 4px solid #226fbe;
}

/* line 769, ../sass/_buttons.scss */
.btn-6a:hover {
  background: transparent;
  color: #226fbe;
}

/* Button 6b */
/* line 775, ../sass/_buttons.scss */
.btn-6b {
  border: 4px solid #226fbe;
  border-radius: 15px;
}

/* line 780, ../sass/_buttons.scss */
.btn-6b:hover {
  background: transparent;
  color: #226fbe;
}

/* Button 6c */
/* line 786, ../sass/_buttons.scss */
.btn-6c {
  border: 4px solid #226fbe;
  border-radius: 60px;
}

/* line 791, ../sass/_buttons.scss */
.btn-6c:hover {
  background: transparent;
  color: #226fbe;
}

/* Button 6d */
/* line 797, ../sass/_buttons.scss */
.btn-6d {
  border: 2px dashed #226fbe;
}

/* line 801, ../sass/_buttons.scss */
.btn-6d:hover {
  background: transparent;
  color: #226fbe;
}

/* Button 6e */
/* line 807, ../sass/_buttons.scss */
.btn-6e {
  border: 2px dashed #226fbe;
  border-radius: 15px;
}

/* line 812, ../sass/_buttons.scss */
.btn-6e:hover {
  background: transparent;
  color: #226fbe;
}

/* Button 6f */
/* line 818, ../sass/_buttons.scss */
.btn-6f {
  border: 2px dashed #226fbe;
  border-radius: 60px;
}

/* line 823, ../sass/_buttons.scss */
.btn-6f:hover {
  background: transparent;
  color: #226fbe;
}

/* Button 6g */
/* line 829, ../sass/_buttons.scss */
.btn-6g {
  border: 2px dotted #226fbe;
}

/* line 833, ../sass/_buttons.scss */
.btn-6g:hover {
  background: transparent;
  color: #226fbe;
}

/* Button 6h */
/* line 839, ../sass/_buttons.scss */
.btn-6h {
  border: 2px dotted #226fbe;
  border-radius: 15px;
}

/* line 844, ../sass/_buttons.scss */
.btn-6h:hover {
  background: transparent;
  color: #226fbe;
}

/* Button 6i */
/* line 850, ../sass/_buttons.scss */
.btn-6i {
  border: 2px dotted #226fbe;
  border-radius: 60px;
}

/* line 855, ../sass/_buttons.scss */
.btn-6i:hover {
  background: transparent;
  color: #226fbe;
}

/* Button 6j */
/* line 861, ../sass/_buttons.scss */
.btn-6j {
  border: 4px double #226fbe;
}

/* line 865, ../sass/_buttons.scss */
.btn-6j:hover {
  background: transparent;
  color: #226fbe;
}

/* Button 6k */
/* line 871, ../sass/_buttons.scss */
.btn-6k {
  border: 4px double #226fbe;
  border-radius: 15px;
}

/* line 876, ../sass/_buttons.scss */
.btn-6k:hover {
  background: transparent;
  color: #226fbe;
}

/* Button 6l */
/* line 882, ../sass/_buttons.scss */
.btn-6l {
  border: 4px double #226fbe;
  border-radius: 60px;
}

/* line 887, ../sass/_buttons.scss */
.btn-6l:hover {
  background: transparent;
  color: #226fbe;
}

/* Button 7 */
/* line 893, ../sass/_buttons.scss */
.btn-7 {
  background: #17aa56;
  color: #fff;
  border-radius: 7px;
  box-shadow: 0 5px #119e4d;
  padding: 25px 60px 25px 90px;
}

/* Button 7a */
/* line 902, ../sass/_buttons.scss */
.btn-7a {
  overflow: hidden;
}

/* line 906, ../sass/_buttons.scss */
.btn-7a:before {
  position: absolute;
  left: 0;
  width: 40%;
  font-size: 160%;
  line-height: 0.8;
  color: #0a833d;
}

/* line 915, ../sass/_buttons.scss */
.btn-7a.btn-activated {
  -webkit-animation: fadeOutText 0.5s;
  -moz-animation: fadeOutText 0.5s;
  animation: fadeOutText 0.5s;
}

/* line 921, ../sass/_buttons.scss */
.btn-7a.btn-activated:before {
  -webkit-animation: moveToRight 0.5s;
  -moz-animation: moveToRight 0.5s;
  animation: moveToRight 0.5s;
}

@-webkit-keyframes fadeOutText {
  /* line 928, ../sass/_buttons.scss */
  0% {
    color: transparent;
  }

  /* line 929, ../sass/_buttons.scss */
  80% {
    color: transparent;
  }

  /* line 930, ../sass/_buttons.scss */
  100% {
    color: #fff;
  }
}

@-moz-keyframes fadeOutText {
  /* line 934, ../sass/_buttons.scss */
  0% {
    color: transparent;
  }

  /* line 935, ../sass/_buttons.scss */
  80% {
    color: transparent;
  }

  /* line 936, ../sass/_buttons.scss */
  100% {
    color: #fff;
  }
}

@keyframes fadeOutText {
  /* line 940, ../sass/_buttons.scss */
  0% {
    color: transparent;
  }

  /* line 941, ../sass/_buttons.scss */
  80% {
    color: transparent;
  }

  /* line 942, ../sass/_buttons.scss */
  100% {
    color: #fff;
  }
}

@-webkit-keyframes moveToRight {
  /* line 946, ../sass/_buttons.scss */
  80% {
    -webkit-transform: translateX(250%);
  }

  /* line 947, ../sass/_buttons.scss */
  81% {
    opacity: 1;
    -webkit-transform: translateX(250%);
  }

  /* line 948, ../sass/_buttons.scss */
  82% {
    opacity: 0;
    -webkit-transform: translateX(250%);
  }

  /* line 949, ../sass/_buttons.scss */
  83% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
  }

  /* line 950, ../sass/_buttons.scss */
  84% {
    opacity: 1;
    -webkit-transform: translateX(-50%);
  }

  /* line 951, ../sass/_buttons.scss */
  100% {
    -webkit-transform: translateX(0%);
  }
}

@-moz-keyframes moveToRight {
  /* line 955, ../sass/_buttons.scss */
  80% {
    -moz-transform: translateX(250%);
  }

  /* line 956, ../sass/_buttons.scss */
  81% {
    opacity: 1;
    -moz-transform: translateX(250%);
  }

  /* line 957, ../sass/_buttons.scss */
  82% {
    opacity: 0;
    -moz-transform: translateX(250%);
  }

  /* line 958, ../sass/_buttons.scss */
  83% {
    opacity: 0;
    -moz-transform: translateX(-50%);
  }

  /* line 959, ../sass/_buttons.scss */
  84% {
    opacity: 1;
    -moz-transform: translateX(-50%);
  }

  /* line 960, ../sass/_buttons.scss */
  100% {
    -moz-transform: translateX(0%);
  }
}

@keyframes moveToRight {
  /* line 964, ../sass/_buttons.scss */
  80% {
    transform: translateX(250%);
  }

  /* line 965, ../sass/_buttons.scss */
  81% {
    opacity: 1;
    transform: translateX(250%);
  }

  /* line 966, ../sass/_buttons.scss */
  82% {
    opacity: 0;
    transform: translateX(250%);
  }

  /* line 967, ../sass/_buttons.scss */
  83% {
    opacity: 0;
    transform: translateX(-50%);
  }

  /* line 968, ../sass/_buttons.scss */
  84% {
    opacity: 1;
    transform: translateX(-50%);
  }

  /* line 969, ../sass/_buttons.scss */
  100% {
    transform: translateX(0%);
  }
}

/* Button 7b */
/* line 973, ../sass/_buttons.scss */
.btn-7b {
  overflow: hidden;
}

/* line 977, ../sass/_buttons.scss */
.btn-7b:before {
  position: absolute;
  left: 0;
  width: 40%;
  font-size: 160%;
  line-height: 0.8;
  color: #0a833d;
}

/* line 986, ../sass/_buttons.scss */
.btn-7b.btn-activated:before {
  -webkit-animation: scaleUp 0.5s;
  -moz-animation: scaleUp 0.5s;
  animation: scaleUp 0.5s;
}

@-webkit-keyframes scaleUp {
  /* line 993, ../sass/_buttons.scss */
  80% {
    opacity: 0;
    -webkit-transform: scale(2);
  }

  /* line 997, ../sass/_buttons.scss */
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
  }
}

@-moz-keyframes scaleUp {
  /* line 1004, ../sass/_buttons.scss */
  80% {
    opacity: 0;
    -moz-transform: scale(2);
  }

  /* line 1008, ../sass/_buttons.scss */
  100% {
    opacity: 0;
    -moz-transform: scale(2);
  }
}

@keyframes scaleUp {
  /* line 1015, ../sass/_buttons.scss */
  80% {
    opacity: 0;
    transform: scale(2);
  }

  /* line 1019, ../sass/_buttons.scss */
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

/* Icon only style */
/* line 1026, ../sass/_buttons.scss */
.btn-icon-only {
  font-size: 0;
  padding: 25px 30px;
}

/* line 1031, ../sass/_buttons.scss */
.btn-icon-only:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 26px;
  line-height: 54px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Button 7c */
/* line 1045, ../sass/_buttons.scss */
.btn-7c {
  overflow: hidden;
}

/* line 1049, ../sass/_buttons.scss */
.btn-7c:before {
  color: #fff;
  z-index: 1;
}

/* line 1054, ../sass/_buttons.scss */
.btn-7c:after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 0;
  width: 0;
  background: #0a833d;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

/* line 1067, ../sass/_buttons.scss */
.btn-7c.btn-activated:after {
  -webkit-animation: fillToRight 0.7s forwards;
  -moz-animation: fillToRight 0.7s forwards;
  animation: fillToRight 0.7s forwards;
}

@-webkit-keyframes fillToRight {
  /* line 1074, ../sass/_buttons.scss */
  to {
    width: 100%;
  }
}

@-moz-keyframes fillToRight {
  /* line 1080, ../sass/_buttons.scss */
  to {
    width: 100%;
  }
}

@keyframes fillToRight {
  /* line 1086, ../sass/_buttons.scss */
  to {
    width: 100%;
  }
}

/* Button 7d */
/* line 1092, ../sass/_buttons.scss */
.btn-7d {
  overflow: hidden;
}

/* line 1096, ../sass/_buttons.scss */
.btn-7d:before {
  color: #fff;
  z-index: 1;
}

/* line 1101, ../sass/_buttons.scss */
.btn-7d:after {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  z-index: 0;
  background: #21bb63;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

/* line 1114, ../sass/_buttons.scss */
.btn-7d.btn-activated:after {
  -webkit-animation: emptyBottom 0.7s forwards;
  -moz-animation: emptyBottom 0.7s forwards;
  animation: emptyBottom 0.7s forwards;
}

@-webkit-keyframes emptyBottom {
  /* line 1121, ../sass/_buttons.scss */
  to {
    height: 100%;
  }
}

@-moz-keyframes emptyBottom {
  /* line 1127, ../sass/_buttons.scss */
  to {
    height: 100%;
  }
}

@keyframes emptyBottom {
  /* line 1133, ../sass/_buttons.scss */
  to {
    height: 100%;
  }
}

/* Button 7e */
/* line 1139, ../sass/_buttons.scss */
.btn-7e:after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  font-size: 26px;
  line-height: 54px;
  color: #ea515e;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

/* line 1159, ../sass/_buttons.scss */
.btn-7e.btn-activated:after {
  -webkit-animation: scaleFade 0.5s forwards;
  -moz-animation: scaleFade 0.5s forwards;
  animation: scaleFade 0.5s forwards;
}

@-webkit-keyframes scaleFade {
  /* line 1166, ../sass/_buttons.scss */
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
  }

  /* line 1170, ../sass/_buttons.scss */
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
  }
}

@-moz-keyframes scaleFade {
  /* line 1177, ../sass/_buttons.scss */
  50% {
    opacity: 1;
    -moz-transform: scale(1);
  }

  /* line 1181, ../sass/_buttons.scss */
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
  }
}

@keyframes scaleFade {
  /* line 1188, ../sass/_buttons.scss */
  50% {
    opacity: 1;
    transform: scale(1);
  }

  /* line 1192, ../sass/_buttons.scss */
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

/* Button 7f */
/* line 1199, ../sass/_buttons.scss */
.btn-7f:before {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

/* line 1203, ../sass/_buttons.scss */
.btn-7f:after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  font-size: 26px;
  line-height: 54px;
  color: #ffe44d;
  visibility: hidden;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffe44d;
  -webkit-transform: scale(4);
  -moz-transform: scale(4);
  -ms-transform: scale(4);
  transform: scale(4);
  opacity: 0;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

/* line 1226, ../sass/_buttons.scss */
.btn-7f.btn-activated:after {
  visibility: visible;
  -webkit-animation: dropDown 0.3s forwards;
  -moz-animation: dropDown 0.3s forwards;
  animation: dropDown 0.3s forwards;
}

@-webkit-keyframes dropDown {
  /* line 1234, ../sass/_buttons.scss */
  to {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes dropDown {
  /* line 1241, ../sass/_buttons.scss */
  to {
    opacity: 1;
    -moz-transform: scale(1);
  }
}

@keyframes dropDown {
  /* line 1248, ../sass/_buttons.scss */
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Button 7g */
/* line 1255, ../sass/_buttons.scss */
.btn-7g:after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  font-size: 26px;
  line-height: 54px;
  color: #0a833d;
  visibility: hidden;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
  opacity: 0;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

/* line 1276, ../sass/_buttons.scss */
.btn-7g.btn-activated:after {
  visibility: visible;
  -webkit-animation: dropDownFade 0.5s forwards;
  -moz-animation: dropDownFade 0.5s forwards;
  animation: dropDownFade 0.5s forwards;
}

@-webkit-keyframes dropDownFade {
  /* line 1284, ../sass/_buttons.scss */
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
  }

  /* line 1288, ../sass/_buttons.scss */
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
  }
}

@-moz-keyframes dropDownFade {
  /* line 1295, ../sass/_buttons.scss */
  50% {
    opacity: 1;
    -moz-transform: scale(1);
  }

  /* line 1299, ../sass/_buttons.scss */
  100% {
    opacity: 0;
    -moz-transform: scale(1.5);
  }
}

@keyframes dropDownFade {
  /* line 1306, ../sass/_buttons.scss */
  50% {
    opacity: 1;
    transform: scale(1);
  }

  /* line 1310, ../sass/_buttons.scss */
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

/* Button 7h */
/* line 1317, ../sass/_buttons.scss */
.btn-7h {
  overflow: hidden;
}

/* line 1321, ../sass/_buttons.scss */
.btn-7h span {
  display: inline-block;
  width: 100%;
}

/* line 1326, ../sass/_buttons.scss */
.btn-7h:before {
  position: absolute;
  left: 0;
  width: 40%;
  font-size: 160%;
  line-height: 0.8;
  color: #0a833d;
}

/* Success and error */
/* line 1338, ../sass/_buttons.scss */
.btn-success,
.btn-error {
  color: transparent;
}

/* line 1343, ../sass/_buttons.scss */
.btn-success:after,
.btn-error:after {
  z-index: 1;
  color: #fff;
  left: 40%;
}

/* line 1349, ../sass/_buttons.scss */
.btn-success:before {
  content: "\e001";
}

/* line 1353, ../sass/_buttons.scss */
.btn-success:after {
  content: "Success!";
  -webkit-animation: moveUp 0.5s;
  -moz-animation: moveUp 0.5s;
  animation: moveUp 0.5s;
}

@-webkit-keyframes moveUp {
  /* line 1361, ../sass/_buttons.scss */
  0% {
    -webkit-transform: translateY(50%);
    opacity: 0;
  }

  /* line 1365, ../sass/_buttons.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes moveUp {
  /* line 1372, ../sass/_buttons.scss */
  0% {
    -moz-transform: translateY(50%);
    opacity: 0;
  }

  /* line 1376, ../sass/_buttons.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@keyframes moveUp {
  /* line 1383, ../sass/_buttons.scss */
  0% {
    transform: translateY(50%);
    opacity: 0;
  }

  /* line 1387, ../sass/_buttons.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* line 1393, ../sass/_buttons.scss */
.btn-error {
  -webkit-animation: shake 0.5s;
  -moz-animation: shake 0.5s;
  animation: shake 0.5s;
}

/* From Dan Eden's animate.css: http://daneden.me/animate/ */
@-webkit-keyframes shake {
  /* line 1401, ../sass/_buttons.scss */
  0%, 100% {
    -webkit-transform: translateX(0);
  }

  /* line 1402, ../sass/_buttons.scss */
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
  }

  /* line 1403, ../sass/_buttons.scss */
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
  }
}

@-moz-keyframes shake {
  /* line 1407, ../sass/_buttons.scss */
  0%, 100% {
    -moz-transform: translateX(0);
  }

  /* line 1408, ../sass/_buttons.scss */
  10%, 30%, 50%, 70%, 90% {
    -moz-transform: translateX(-10px);
  }

  /* line 1409, ../sass/_buttons.scss */
  20%, 40%, 60%, 80% {
    -moz-transform: translateX(10px);
  }
}

@keyframes shake {
  /* line 1413, ../sass/_buttons.scss */
  0%, 100% {
    transform: translateX(0);
  }

  /* line 1414, ../sass/_buttons.scss */
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }

  /* line 1415, ../sass/_buttons.scss */
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

/* line 1418, ../sass/_buttons.scss */
.btn-error:before {
  content: "\e002";
}

/* line 1422, ../sass/_buttons.scss */
.btn-error:after {
  content: "Error!";
  -webkit-animation: scaleFromUp 0.5s;
  -moz-animation: scaleFromUp 0.5s;
  animation: scaleFromUp 0.5s;
}

@-webkit-keyframes scaleFromUp {
  /* line 1430, ../sass/_buttons.scss */
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }

  /* line 1434, ../sass/_buttons.scss */
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes scaleFromUp {
  /* line 1441, ../sass/_buttons.scss */
  0% {
    -moz-transform: scale(0);
    opacity: 0;
  }

  /* line 1445, ../sass/_buttons.scss */
  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}

@keyframes scaleFromUp {
  /* line 1452, ../sass/_buttons.scss */
  0% {
    transform: scale(0);
    opacity: 0;
  }

  /* line 1456, ../sass/_buttons.scss */
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Special trash effect */
/* line 1463, ../sass/_buttons.scss */
.trash-effect {
  position: relative;
  max-width: 320px;
  margin: 60px auto 0;
}

/* line 1469, ../sass/_buttons.scss */
.trash-effect .icon-file {
  font-size: 30px;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  top: 50%;
  margin: -45px 0 0 -25px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: translateX(90px) translateY(20px) scale(1);
  -moz-transform: translateX(90px) translateY(20px) scale(1);
  -ms-transform: translateX(90px) translateY(20px) scale(1);
  transform: translateX(90px) translateY(20px) scale(1);
}

/* line 1486, ../sass/_buttons.scss */
.trash-effect .icon-file:nth-child(2) {
  -webkit-transform: translateX(140px) translateY(-10px) scale(1);
  -moz-transform: translateX(140px) translateY(-10px) scale(1);
  -ms-transform: translateX(140px) translateY(-10px) scale(1);
  transform: translateX(140px) translateY(-10px) scale(1);
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/* line 1496, ../sass/_buttons.scss */
.trash-effect .icon-file:nth-child(3) {
  -webkit-transform: translateX(140px) translateY(50px) scale(1);
  -moz-transform: translateX(140px) translateY(50px) scale(1);
  -ms-transform: translateX(140px) translateY(50px) scale(1);
  transform: translateX(140px) translateY(50px) scale(1);
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/* line 1506, ../sass/_buttons.scss */
.trash-effect.trash-effect-active .icon-file {
  -webkit-transform: translateX(-100px) translateY(-10px) scale(0);
  -moz-transform: translateX(-100px) translateY(-10px) scale(0);
  -ms-transform: translateX(-100px) translateY(-10px) scale(0);
  transform: translateX(-100px) translateY(-10px) scale(0);
}

/* Button 7i */
/* line 1514, ../sass/_buttons.scss */
.btn-7i {
  box-shadow: none;
  border-radius: 0 0 7px 7px;
  padding: 27px 33px;
  -webkit-transform: translateX(-100px);
  -moz-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  transform: translateX(-100px);
}

/* line 1524, ../sass/_buttons.scss */
.btn-7i:before {
  line-height: 45px;
}

/* line 1528, ../sass/_buttons.scss */
.btn-7i:after {
  height: 10px;
  width: 100%;
  background: #17aa56;
  border-radius: 7px 7px 0 0;
  left: 0;
  top: -10px;
  z-index: 1;
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

/* line 1542, ../sass/_buttons.scss */
.trash-effect-active .btn-7i:after {
  -webkit-animation: openTrash 0.5s;
  -moz-animation: openTrash 0.5s;
  animation: openTrash 0.5s;
}

@-webkit-keyframes openTrash {
  /* line 1549, ../sass/_buttons.scss */
  50% {
    -webkit-transform: rotate(-35deg);
  }

  /* line 1552, ../sass/_buttons.scss */
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes openTrash {
  /* line 1558, ../sass/_buttons.scss */
  50% {
    -moz-transform: rotate(-35deg);
  }

  /* line 1561, ../sass/_buttons.scss */
  100% {
    -moz-transform: rotate(0deg);
  }
}

@keyframes openTrash {
  /* line 1567, ../sass/_buttons.scss */
  50% {
    transform: rotate(-35deg);
  }

  /* line 1570, ../sass/_buttons.scss */
  100% {
    transform: rotate(0deg);
  }
}

/* Button 8 */
/* line 1576, ../sass/_buttons.scss */
.perspective {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
  display: inline-block;
}

/* line 1583, ../sass/_buttons.scss */
.btn-8 {
  display: block;
  background: #5cbcf6;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 1591, ../sass/_buttons.scss */
.btn-8:active {
  background: #55b7f3;
}

/* Button 8a */
/* line 1596, ../sass/_buttons.scss */
.btn-8a:after {
  width: 100%;
  height: 40%;
  left: 0;
  top: -40%;
  background: #49a7df;
  -webkit-transform-origin: 0% 100%;
  -webkit-transform: rotateX(90deg);
  -moz-transform-origin: 0% 100%;
  -moz-transform: rotateX(90deg);
  transform-origin: 0% 100%;
  transform: rotateX(90deg);
}

/* line 1610, ../sass/_buttons.scss */
.btn-8a:hover {
  -webkit-transform: rotateX(-15deg);
  -moz-transform: rotateX(-15deg);
  -ms-transform: rotateX(-15deg);
  transform: rotateX(-15deg);
}

/* Button 8b */
/* line 1618, ../sass/_buttons.scss */
.btn-8b:after {
  width: 100%;
  height: 40%;
  left: 0;
  top: 100%;
  background: #49a7df;
  -webkit-transform-origin: 0% 0%;
  -webkit-transform: rotateX(-90deg);
  -moz-transform-origin: 0% 0%;
  -moz-transform: rotateX(-90deg);
  -ms-transform-origin: 0% 0%;
  -ms-transform: rotateX(-90deg);
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
}

/* line 1634, ../sass/_buttons.scss */
.btn-8b:hover {
  -webkit-transform: rotateX(15deg);
  -moz-transform: rotateX(15deg);
  -ms-transform: rotateX(15deg);
  transform: rotateX(15deg);
}

/* Button 8c */
/* line 1642, ../sass/_buttons.scss */
.btn-8c:after {
  width: 20%;
  height: 100%;
  left: -20%;
  top: 0;
  background: #49a7df;
  -webkit-transform-origin: 100% 0%;
  -webkit-transform: rotateY(-90deg);
  -moz-transform-origin: 100% 0%;
  -moz-transform: rotateY(-90deg);
  -ms-transform-origin: 100% 0%;
  -ms-transform: rotateY(-90deg);
  transform-origin: 100% 0%;
  transform: rotateY(-90deg);
}

/* line 1658, ../sass/_buttons.scss */
.btn-8c:hover {
  -webkit-transform: rotateY(15deg);
  -moz-transform: rotateY(15deg);
  -ms-transform: rotateY(15deg);
  transform: rotateY(15deg);
}

/* Button 8d */
/* line 1666, ../sass/_buttons.scss */
.btn-8d:after {
  width: 20%;
  height: 100%;
  left: 100%;
  top: 0;
  background: #49a7df;
  -webkit-transform-origin: 0% 0%;
  -webkit-transform: rotateY(90deg);
  -moz-transform-origin: 0% 0%;
  -moz-transform: rotateY(90deg);
  -ms-transform-origin: 0% 0%;
  -ms-transform: rotateY(90deg);
  transform-origin: 0% 0%;
  transform: rotateY(90deg);
}

/* line 1682, ../sass/_buttons.scss */
.btn-8d:hover {
  -webkit-transform: rotateY(-15deg);
  -moz-transform: rotateY(-15deg);
  -ms-transform: rotateY(-15deg);
  transform: rotateY(-15deg);
}

/* Button 8e */
/* line 1690, ../sass/_buttons.scss */
.btn-8e {
  -webkit-transform: rotateX(-15deg);
  -moz-transform: rotateX(-15deg);
  -ms-transform: rotateX(-15deg);
  transform: rotateX(-15deg);
}

/* line 1697, ../sass/_buttons.scss */
.btn-8e:after {
  width: 100%;
  height: 40%;
  left: 0;
  top: -40%;
  background: #49a7df;
  -webkit-transform-origin: 0% 100%;
  -webkit-transform: rotateX(90deg);
  -moz-transform-origin: 0% 100%;
  -moz-transform: rotateX(90deg);
  -ms-transform-origin: 0% 100%;
  -ms-transform: rotateX(90deg);
  transform-origin: 0% 100%;
  transform: rotateX(90deg);
}

/* line 1713, ../sass/_buttons.scss */
.btn-8e:active {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

/* Button 8f */
/* line 1721, ../sass/_buttons.scss */
.btn-8f {
  -webkit-transform: rotateX(15deg);
  -moz-transform: rotateX(15deg);
  -ms-transform: rotateX(15deg);
  transform: rotateX(15deg);
}

/* line 1728, ../sass/_buttons.scss */
.btn-8f:after {
  width: 100%;
  height: 40%;
  left: 0;
  top: 100%;
  background: #49a7df;
  -webkit-transform-origin: 0% 0%;
  -webkit-transform: rotateX(-90deg);
  -moz-transform-origin: 0% 0%;
  -moz-transform: rotateX(-90deg);
  -ms-transform-origin: 0% 0%;
  -ms-transform: rotateX(-90deg);
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
}

/* line 1744, ../sass/_buttons.scss */
.btn-8f:active {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

/* Button 8g */
/* line 1752, ../sass/_buttons.scss */
.btn-8g {
  background: #fff;
  color: #999;
}

/* line 1757, ../sass/_buttons.scss */
.btn-8g:active {
  background: #fff;
}

/* line 1762, ../sass/_buttons.scss */
.btn-8g:after,
.btn-8g:before {
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  line-height: 70px;
}

/* line 1771, ../sass/_buttons.scss */
.btn-8g:after {
  top: -100%;
  background: #7aca7c;
  color: #358337;
  content: 'It worked!';
  -webkit-transform-origin: 0% 100%;
  -webkit-transform: rotateX(90deg);
  -moz-transform-origin: 0% 100%;
  -moz-transform: rotateX(90deg);
  -ms-transform-origin: 0% 100%;
  -ms-transform: rotateX(90deg);
  transform-origin: 0% 100%;
  transform: rotateX(90deg);
}

/* line 1786, ../sass/_buttons.scss */
.btn-8g:before {
  top: 100%;
  background: #e96a6a;
  color: #a33a3a;
  content: 'Error!';
  font-weight: 700;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  -webkit-transform-origin: 0% 0%;
  -webkit-transform: rotateX(-90deg);
  -moz-transform-origin: 0% 0%;
  -moz-transform: rotateX(-90deg);
  -ms-transform-origin: 0% 0%;
  -ms-transform: rotateX(-90deg);
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
}

/* line 1803, ../sass/_buttons.scss */
.btn-8g.btn-success3d {
  background: #aaa;
  -webkit-transform-origin: 50% 100%;
  -webkit-transform: rotateX(-90deg) translateY(100%);
  -moz-transform-origin: 50% 100%;
  -moz-transform: rotateX(-90deg) translateY(100%);
  -ms-transform-origin: 50% 100%;
  -ms-transform: rotateX(-90deg) translateY(100%);
  transform-origin: 50% 100%;
  transform: rotateX(-90deg) translateY(100%);
}

/* line 1815, ../sass/_buttons.scss */
.btn-8g.btn-error3d {
  background: #aaa;
  -webkit-transform-origin: 50% 0%;
  -webkit-transform: rotateX(90deg) translateY(-100%);
  -moz-transform-origin: 50% 0%;
  -moz-transform: rotateX(90deg) translateY(-100%);
  -ms-transform-origin: 50% 0%;
  -ms-transform: rotateX(90deg) translateY(-100%);
  transform-origin: 50% 0%;
  transform: rotateX(90deg) translateY(-100%);
}

@media (min-width: 480px) {
  /* line 1, ../sass/_480.scss */
  section {
    padding: 2em 0;
  }
}
@media (min-width: 768px) {
  /* line 1, ../sass/_768.scss */
  section {
    padding: 2em 0;
  }
}
/* @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  @import "2x";
} */
